<div class="w-100 h-100 d-flex position-absolute justify-content-center align-items-center" style="top:0">
    <div class="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>