@inject IPageStateService PageStateService
@inject NavigationManager navManager
<div class="page-header py-1">
    @if (!PageStateService.PreviousUrl.IsEmpty())
    {
        <a href="@PageStateService.PreviousUrl"><i class="fas fa-arrow-left"></i></a>
    }
    <h3>@PageStateService.Title</h3>
</div>

@code
{
    public void Update()
    {
        StateHasChanged();
    }
}
