@page "/404"
@inject IPageStateService pageStateService

<link rel="stylesheet" href="/css/specific-pages.css"/>

<div class="hit-the-floor m-1">
    404
</div>

@code{

    protected override void OnInitialized()
    {
        pageStateService.Title = "404";
        pageStateService.NavbarType = NavbarType.None;
    }

}