@page "/auth/accessdenied"
@page "/auth/accessdenied/{ReturnUrl}"
@inject IPageStateService pageStateService

<link rel="stylesheet" href="/css/specific-pages.css"/>

<div class="hit-the-floor m-1">
    403
</div>
<div class="row justify-content-center">
    <a href="@ReturnUrl">Return Back</a> 
</div>




@code{

    protected override void OnInitialized()
    {
        pageStateService.Title = "Access Denied";
        pageStateService.NavbarType = NavbarType.None;
    }

    [Parameter]
    public string ReturnUrl { get; set; }
}
