@page "/auth/login"
@page "/auth/login/{ReturnUrl}"
@inject IPageStateService pageStateService
<h3>Login</h3>

<h3>@ReturnUrl</h3>

@code{
    [Parameter] public string ReturnUrl { get; set; }

    protected override void OnInitialized()
    {
        pageStateService.Title = "Login";
    }
}