@page "/auth/unauthorized"
@inject IPageStateService pageStateService

<h3>Unauthorized</h3>

@code{

    protected override void OnInitialized()
    {
        pageStateService.Title = "Unauthorized";
        pageStateService.NavbarType = NavbarType.None;
    }

}