
@inherits LayoutComponentBase
@inject NavigationManager navigationManager
<link href="/css/layout/dist/main.css" rel="stylesheet" />

<main>
    <div class="main-container row mx-0">
        <div class="page col-md-8 offset-md-2 col-sm-10 offset-sm-1 px-0  ">
            @Body
        </div>
    </div>
</main>