@page "/dietician"
@attribute [CustomAuthorize(RoleInfo.Dietician)]
@inject IPageStateService pageStateService

<h1>dietician</h1>

@code
{
    protected async Task InitAsync()
    {
        await Task.Delay(100);
    }

    protected override async Task OnInitializedAsync()
    {
        pageStateService.Title = "Diyetisyen";
        pageStateService.NavbarType=NavbarType.Dietician;
        await InitAsync();
    }
}