@page "/"
@inject ITestService testService
@inject HttpInterceptorService interceptorService
<h1>Index</h1>

@val

@code
{
    private string val;
    protected override async Task OnInitializedAsync()
    {
        interceptorService.RegisterEvent();
        var res = await testService.GetAsync();
        if (res.IsSuccessful)
            val = res.Data;
    }
}
