@page "/"
@implements  IDisposable
@inject ITestService testService
@inject HttpInterceptorService interceptor
<h1>Hello, world!</h1>

Welcome to your new app.

@dataValue


<SurveyPrompt Title="How is Blazor working for you?" />

@code{

    string dataValue;
    protected override async Task OnInitializedAsync()
    {
        interceptor.RegisterEvent();
        var res = await testService.GetAsync();
        if (res.IsSuccessful)
            dataValue = res.Data.Data;
    }
    public void Dispose()
    {
        interceptor.DisposeEvent();
    }
}

