@page "/"
@inject DietPlanner.ClientShared.Services.Interfaces.IGoogleHttpclientService service
<h1>Hello, world!</h1>

Welcome to your new app.

@res

<SurveyPrompt Title="How is Blazor working for you?" />


@code {
      string res = "AAA";
    protected override async Task OnInitializedAsync()
    {
        res= await service.GetAsync();
    }
}