@page "/"
@inject IPageStateService PageStateService
@inject IUserStorage userStorage
<CustomAuthorizeView>
    <Authorized>
        <p>@userStorage.User.IdentityNumber</p>
        <p>@userStorage.User.FirstName</p>
        <p>@userStorage.User.Role.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>do do dostum giris yapmalisin</p>
    </NotAuthorized>
</CustomAuthorizeView>


@code
{
    protected override void OnInitialized()
    {
        PageStateService.Title = "Anasayfa";
        PageStateService.NavbarType = NavbarType.None;
    }

}
